%h2 Импорт
%div
  %p
    Загрузить YAML (.yml) файл согласно
    = succeed "." do
      %a{href: "http://guides.rubyonrails.org/i18n.html"} I18n соглашению
  = form_tag 'upload', multipart: true, :'accept-charset' => 'UTF-8' do
    = file_field_tag "file"
    = submit_tag "Загрузить"

%h2 Экспорт
%div
  = link_to "Скачать в YAML формате", download_phrasing_phrases_path
