#header
  %h1= link_to "Переводы", phrasing_phrases_path
  %ul
    %li= link_to "Главная", phrasing_phrases_path
    %li= link_to "Импорт / Экспорт", import_export_phrasing_phrases_path
    %li= link_to "Помощь", help_phrasing_phrases_path
    - if respond_to? :root_path
      %li= link_to "Обратно на сайт", root_path
